@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex;
  width: 100vw;
  padding: 15px;
}
.footer{
  display: flex;
  margin-top: auto;
  background-color: #eeeeee;
  width: 100vw;
  padding: 15px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-links{
  margin: 0 auto 0 15px;
}
.right-links{
  margin: 0 15px 0 auto;

}

ul{
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: rgb(92, 92, 92);
}